@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --cor-pricipal: #080c15;
    --cor-secundaria: #111827;
    --cor-de-destaque: #00eeff;
    --text-primario: #ffffff;
    --text-secundario: #9ca3af;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--cor-pricipal);
    color: var(--text-primario);
    overflow-x: hidden;
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--text-secundario);
}

a {
    transition: all 0.3s ease;
}

#App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}